
body{
    background-color: var(--bg);
}

button:hover{
    cursor: pointer;
}

:root{
    --bg: rgb(87, 39, 17);
    --text1: rgb(213, 185, 148);
    --text2: rgb(240, 203, 122);
    --text3: antiquewhite;
    --text4: rgb(8, 19, 95);
    --btnc: antiquewhite;
}
:root .light-mode{
    --bg: antiquewhite;
    --text1: rgb(87, 39, 17);
    --text2: rgb(87, 39, 17);
    --text3: rgb(87, 39, 17);
    --text4: rgb(8, 19, 95);
    --btnc: antiquewhite;
}
h2{
    color: var(--text1);
    display: flex;
    justify-content: center;
}
span{
    color: var(--text1);
    font-size: 24px;
}
form{
    color: var(--text1);
    display: flex;
    justify-content: center;
}

header{
    font-size: 45px;
    display: flex;
    justify-content: center;
    color: var(--text2);
}

#movie-grid{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.movie-card{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 18%;
    margin-bottom: 5%;
    margin-right: 2%;
    margin-left: 2%;
 
}

.movie-poster{
    padding: 2px;
    background-color: var(--text3);
}

#button{
    display: flex;
    justify-content: center;
}

#search{
    display: flex;
    align-items: center;
}

#load-more-movies-btn{
    color: var(--btnc);
    background-color: var(--text4);
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 10px;
}

#dark{
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
}

#close-search-btn{
    color: var(--btnc);
    background-color: var(--text4);
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 10px;
}

#mode{
    color: var(--btnc);
    background-color: var(--text4);
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 10px;
}

input{
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 10px;
    size: 24px;
}

form{
    font-size: 24px;
}

/*.modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.4rem;
    width: 450px;
    padding: 1.3rem;
    min-height: 250px;
    position: absolute;
    top: 20%;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 15px;
  }

.hidden{
    display:none;
}*/